<div class="row">
         <section class="main col-md-9">
        {{#if item}}
        <item>
            <article>
                <h2><strong>{{item.title}}</strong></h2>
                <img src="{{item.featureImage}}" alt="feature Image" style="width:100%" />
                <br /><br />
                {{#safeHTML item.body}}{{/safeHTML}}
                <br /><br />
                <strong>Category:</strong> {{item.category}}<br />
                <strong>Last Updated:</strong> {{item.postDate}}
            </article>
            </item>
        {{else}}
            <div class="col-md-12 text-center">
    <h2>{{data.message}}</h2>
    <p>Please try another Items / Category</p>
</div>
{{/if}}
</section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Items</h4>
    {{#if data.items}}
            <ul class="list-group">
                {{#each data.items}}
                    <a href="/shop/{{id}}?category={{../viewingCategory}}" class="list-group-item">{{title}}</a>
                {{/each}}
            </ul>
        {{/if}}
   

    <h4>Categories</h4>
{{#if data.items}}
            <ul class="list-group">
                {{#each data.categories}}
                    <a href="/item?category={{id}}" class="list-group-item">{{category}}</a>
                {{/each}}
            </ul>
        {{/if}}

  </aside>
</div>